# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
test/go/web-app
test/go/test-redis
grpc/grpc-service
grpc/grpc-worker1
grpc/grpc-worker2
grpc/grpc-worker3

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.env.bak.*
redis/generated/

# Editor/IDE
.idea/
.vscode/
.agent/

# Data
data/

# caddy-conf
caddy/conf.d/*.caddy

# log

logs/
