x-hosts: &hosts
  extra_hosts:
    - default.dev.com:${PROXY_IP}

services:
  ######## redis (Overridden for HA) ########
  redis:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-master
    volumes:
      - ./data/${DATA_SUBDIR}/redis/master:/data
      - ${REDIS_CONF_PATH}:/etc/redis/redis.conf:ro
    command: [ "redis-server", "/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}" ]
    # 确保在集群模式下，其他服务依然可以通过 'redis' 这个别名访问主节点
    networks:
      backend:
        aliases:
          - redis
    <<: *hosts

  redis-slave1:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-slave1
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ./data/${DATA_SUBDIR}/redis/slave1:/data
      - ./redis/generated/redis-slave.conf:/etc/redis/redis.conf
    command: [ "redis-server", "/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}" ]
    depends_on:
      - redis
    networks:
      - backend
    <<: *hosts

  redis-slave2:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-slave2
    restart: unless-stopped
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ./data/${DATA_SUBDIR}/redis/slave2:/data
      - ./redis/generated/redis-slave.conf:/etc/redis/redis.conf
    command: [ "redis-server", "/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}" ]
    depends_on:
      - redis
    networks:
      - backend
    <<: *hosts

  ######## redis sentinel ########
  redis-sentinel1:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-sentinel1
    restart: unless-stopped
    ports:
      - "26379:26379"
    volumes:
      - ${REDIS_CONF_PATH}:/etc/redis/redis.conf:ro
      - ./data/${DATA_SUBDIR}/redis/sentinel1:/data
      - ./redis/generated/sentinel1.conf:/etc/redis/sentinel.conf
    command: [ "redis-sentinel", "/etc/redis/sentinel.conf" ]
    depends_on:
      - redis
    networks:
      - backend
    <<: *hosts

  redis-sentinel2:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-sentinel2
    restart: unless-stopped
    ports:
      - "26380:26379"
    volumes:
      - ${REDIS_CONF_PATH}:/etc/redis/redis.conf:ro
      - ./data/${DATA_SUBDIR}/redis/sentinel2:/data
      - ./redis/generated/sentinel2.conf:/etc/redis/sentinel.conf
    command: [ "redis-sentinel", "/etc/redis/sentinel.conf" ]
    depends_on:
      - redis
    networks:
      - backend
    <<: *hosts

  redis-sentinel3:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-sentinel3
    restart: unless-stopped
    ports:
      - "26381:26379"
    volumes:
      - ${REDIS_CONF_PATH}:/etc/redis/redis.conf:ro
      - ./data/${DATA_SUBDIR}/redis/sentinel3:/data
      - ./redis/generated/sentinel3.conf:/etc/redis/sentinel.conf
    command: [ "redis-sentinel", "/etc/redis/sentinel.conf" ]
    depends_on:
      - redis
    networks:
      - backend
    <<: *hosts
