#/etc/hosts
x-hosts: &hosts
  extra_hosts:
    - default.dev.com:${PROXY_IP}

services:

  ######## proxy ########

  proxy:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=file
    networks:
      backend:
        ipv4_address: ${PROXY_IP}

  proxy-worker1:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}-worker1
    ports:
      - "8001:80"
      - "1443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=file
    networks:
      backend: { }

  proxy-worker2:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}-worker2
    ports:
      - "8002:80"
      - "2443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=file
    networks:
      backend: { }

  proxy-worker3:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}-worker3
    ports:
      - "8003:80"
      - "3443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=file
    networks:
      backend: { }

  ######## redis master ########
  redis-master:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-master
    restart: always
    ports:
      - ${REDIS_PORT}:6379
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ${REDIS_DATA_PATH}:/data
      - ${REDIS_CONF_PATH}:/etc/redis/redis.conf:ro
    command: ["redis-server", "/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}"]
    networks:
      backend:
        ipv4_address: ${REDIS_IP}

  redis-slave1:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-slave1
    restart: always
    ports:
      - "6380:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ${REDIS_DATA_PATH}:/data
      - ./redis/redis-slave.conf:/etc/redis/redis.conf
    command: ["redis-server", "/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}"]
    depends_on:
      - redis-master
    networks:
      backend: { }

  redis-slave2:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-slave2
    restart: always
    ports:
      - "6381:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    volumes:
      - ${REDIS_DATA_PATH}:/data
      - ./redis/redis-slave.conf:/etc/redis/redis.conf
    command: ["redis-server", "/etc/redis/redis.conf", "--requirepass", "${REDIS_PASSWORD}"]
    depends_on:
      - redis-master
    networks:
      backend: { }

  ######## redis sentinel ########
  redis-sentinel1:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-sentinel1
    restart: always
    ports:
      - "26379:26379"
    volumes:
      - ./redis/sentinel.conf:/etc/redis/sentinel.conf
      - ${REDIS_DATA_PATH}:/data
    command: ["redis-sentinel", "/etc/redis/sentinel.conf"]
    depends_on:
      - redis-master
    networks:
      backend: { }

  redis-sentinel2:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-sentinel2
    restart: always
    ports:
      - "26380:26379"
    volumes:
      - ./redis/sentinel.conf:/etc/redis/sentinel.conf
      - ${REDIS_DATA_PATH}:/data
    command: ["redis-sentinel", "/etc/redis/sentinel.conf"]
    depends_on:
      - redis-master
    networks:
      backend: { }

  redis-sentinel3:
    build:
      context: ./redis
      args:
        - REDIS_VER=${REDIS_VERSION}
    image: ${AUTHOR}/${REDIS_NAME}:${REDIS_VERSION}
    container_name: ${REDIS_NAME}-sentinel3
    restart: always
    ports:
      - "26381:26379"
    volumes:
      - ./redis/sentinel.conf:/etc/redis/sentinel.conf
      - ${REDIS_DATA_PATH}:/data
    command: ["redis-sentinel", "/etc/redis/sentinel.conf"]
    depends_on:
      - redis-master
    networks:
      backend: { }

  ######## mysql ########
  mysql:
    build:
      context: ./mysql
      args:
        - MYSQL_VERSION=${MYSQL_VERSION}
    image: ${AUTHOR}/${MYSQL_NAME}:${MYSQL_VERSION}
    container_name: ${MYSQL_NAME}
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${MYSQL_TIMEZONE}
    volumes:
      - ${MYSQL_CONF_PATH}:/etc/mysql/conf.d/docker.cnf:ro
      - ${MYSQL_DATA_PATH}:/var/lib/mysql
    # M1 需要指定 platform
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      backend:
        ipv4_address: ${MYSQL_IP}

  ######## mongo ########
  mongo:
    build:
      context: ./mongo
      args:
        - MONGO_VERSION=${MONGO_VERSION}
    image: ${AUTHOR}/${MONGO_NAME}:${MONGO_VERSION}
    container_name: ${MONGO_NAME}
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    volumes:
      - ${MONGO_CONF_PATH}:/etc/mongod.conf:ro
      - ${MONGO_PATH}:/data/db
    restart: always
    ports:
      - ${MONGO_PORT}:27017
    networks:
      backend:
        ipv4_address: ${MONGO_IP}

  ######## grpc #########
  grpc:
    build:
      context: ./grpc
    image: ${AUTHOR}/${GRPC_NAME}:${GRPC_VERSION}
    container_name: ${GRPC_NAME}
    restart: always
    ports:
      - ${GRPC_PORT}:8000
    volumes:
      - grpc_data:/app
    networks:
      backend: { }

  grpc-worker1:
    build:
      context: ./grpc
    image: ${AUTHOR}/${GRPC_NAME}:${GRPC_VERSION}
    container_name: ${GRPC_NAME}-worker1
    restart: always
    volumes:
      - grpc_data:/app
    networks:
      backend: { }

  grpc-worker2:
    build:
      context: ./grpc
    image: ${AUTHOR}/${GRPC_NAME}:${GRPC_VERSION}
    container_name: ${GRPC_NAME}-worker2
    restart: always
    volumes:
      - grpc_data:/app
    networks:
      backend: { }

  grpc-worker3:
    build:
      context: ./grpc
    image: ${AUTHOR}/${GRPC_NAME}:${GRPC_VERSION}
    container_name: ${GRPC_NAME}-worker3
    restart: always
    volumes:
      - grpc_data:/app
    networks:
      backend: { }

networks:
  backend:
    name: backend
    external: true

volumes:
  caddy_data:
    name: caddy_data
  caddy_config:
    name: caddy_config
  grpc_data:
    name: grpc_data
