#/etc/hosts
x-hosts: &hosts
  extra_hosts:
    - default.dev.com:${PROXY_IP}

services:
  ######## proxy (Standard) ########
  proxy:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}
    hostname: proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    networks:
      backend:
        ipv4_address: ${PROXY_IP}
    restart: unless-stopped
    <<: *hosts

  ######## redis (Standard) ########
  redis:
    image: redis:${REDIS_VERSION}-alpine
    container_name: ${REDIS_NAME}
    ports:
      - "${REDIS_PORT}:6379"
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    command: [ "redis-server", "--requirepass", "${REDIS_PASSWORD}" ]
    volumes:
      - ./data/redis:/data
    networks:
      backend:
        ipv4_address: ${REDIS_IP}
    restart: unless-stopped
    <<: *hosts

  ######## mysql ########
  mysql:
    build:
      context: ./mysql
      args:
        - MYSQL_VERSION=${MYSQL_VERSION}
    image: ${AUTHOR}/${MYSQL_NAME}:${MYSQL_VERSION}
    container_name: ${MYSQL_NAME}
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - TZ=${MYSQL_TIMEZONE}
    volumes:
      - ${MYSQL_CONF_PATH}:/etc/mysql/conf.d/docker.cnf:ro
      - ./data/mysql:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      backend:
        ipv4_address: ${MYSQL_IP}
    <<: *hosts

  ######## mongo ########
  mongo:
    build:
      context: ./mongo
      args:
        - MONGO_VERSION=${MONGO_VERSION}
    image: ${AUTHOR}/${MONGO_NAME}:${MONGO_VERSION}
    container_name: ${MONGO_NAME}
    environment:
      - MONGO_INITDB_ROOT_USERNAME=${MONGO_ROOT_USERNAME}
      - MONGO_INITDB_ROOT_PASSWORD=${MONGO_ROOT_PASSWORD}
    volumes:
      - ${MONGO_CONF_PATH}:/etc/mongod.conf:ro
      - ./data/mongo/db:/data/db
      - ./data/mongo/configdb:/data/configdb
    restart: unless-stopped
    ports:
      - ${MONGO_PORT}:27017
    networks:
      backend:
        ipv4_address: ${MONGO_IP}
    <<: *hosts

  ######## grpc #########
  grpc:
    build:
      context: ./grpc
    image: ${AUTHOR}/${GRPC_NAME}:${GRPC_VERSION}
    container_name: ${GRPC_NAME}
    restart: unless-stopped
    ports:
      - "${GRPC_PORT}:8000"
    volumes:
      - grpc_data:/app
    networks:
      - backend
    <<: *hosts

  ######## n8n ########
  n8n:
    image: n8nio/n8n
    container_name: n8n
    ports:
      - ${N8N_PORT}:5678
    restart: unless-stopped
    volumes:
      - n8n_data:/home/node/.n8n
    environment:
      - DB_TYPE=postgresdb
      - DB_POSTGRESDB_HOST=postgres
      - DB_POSTGRESDB_PORT=5432
      - DB_POSTGRESDB_DATABASE=n8n
      - DB_POSTGRESDB_USER=n8n
      - DB_POSTGRESDB_PASSWORD=n8n
      - N8N_PROTOCOL=https
      - N8N_HOST=${N8N_HOST}
      - WEBHOOK_URL=https://${N8N_HOST}/
      - NODE_ENV=production
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_RUNNERS_ENABLED=true
      - N8N_EXECUTIONS_MODE=queue
      - N8N_QUEUE_MODE=true
      - QUEUE_BULL_REDIS_HOST=redis
      - QUEUE_BULL_REDIS_PASSWORD=${REDIS_PASSWORD}
      - N8N_CORS_ENABLED=true
      - N8N_CORS_ALLOWED_ORIGINS=*
    depends_on:
      - postgres
      - redis
    networks:
      - backend
    <<: *hosts

  ######## postgres ########
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_DB: n8n
      POSTGRES_USER: n8n
      POSTGRES_PASSWORD: n8n
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    networks:
      - backend
    <<: *hosts

networks:
  backend:
    name: backend
    external: true

volumes:
  caddy_data:
    name: caddy_data
  caddy_config:
    name: caddy_config
  grpc_data:
    name: grpc_data
  n8n_data:
    name: n8n_data
  mongo_data:
    name: mongo_data
