x-hosts: &hosts
  extra_hosts:
    - default.dev.com:${PROXY_IP}

services:
  ######## proxy (Overridden for Cluster) ########
  proxy:
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=redis
      - CADDY_CLUSTER_STORAGE_REDIS_ADDRESS=redis-master:6379
      - CADDY_CLUSTER_STORAGE_REDIS_PASSWORD=${REDIS_PASSWORD}
      - CADDY_CLUSTER_STORAGE_REDIS_DB=1

  proxy-worker1:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}-worker1
    ports:
      - "8001:80"
      - "1443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=redis
      - CADDY_CLUSTER_STORAGE_REDIS_ADDRESS=redis-master:6379
      - CADDY_CLUSTER_STORAGE_REDIS_PASSWORD=${REDIS_PASSWORD}
      - CADDY_CLUSTER_STORAGE_REDIS_DB=1
    networks:
      - backend
    <<: *hosts

  proxy-worker2:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}-worker2
    ports:
      - "8002:80"
      - "2443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=redis
      - CADDY_CLUSTER_STORAGE_REDIS_ADDRESS=redis-master:6379
      - CADDY_CLUSTER_STORAGE_REDIS_PASSWORD=${REDIS_PASSWORD}
      - CADDY_CLUSTER_STORAGE_REDIS_DB=1
    networks:
      - backend
    <<: *hosts

  proxy-worker3:
    build:
      context: ./caddy
      args:
        - CADDY_VERSION=${CADDY_VERSION}
    image: ${AUTHOR}/${CADDY_NAME}:${CADDY_VERSION}
    container_name: ${CADDY_NAME}-worker3
    ports:
      - "8003:80"
      - "3443:443"
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:ro
      - ./caddy/conf.d:/etc/caddy/conf.d:ro
      - caddy_data:/data
      - caddy_config:/config
    environment:
      - CADDY_CLUSTER_NAME=caddy-cluster
      - CADDY_CLUSTER_STORAGE=redis
      - CADDY_CLUSTER_STORAGE_REDIS_ADDRESS=redis-master:6379
      - CADDY_CLUSTER_STORAGE_REDIS_PASSWORD=${REDIS_PASSWORD}
      - CADDY_CLUSTER_STORAGE_REDIS_DB=1
    networks:
      - backend
    <<: *hosts
