# Caddy 全局配置
{
	log {
		output file /logs/caddy.log {
			roll_size 10mb
			roll_keep 10
			roll_keep_for 720h
		}
		format json {
			time_format "iso8601"
		}
		level INFO
	}
	email syszhaopan@gmail.com
}

# 加载配置
import /etc/caddy/conf.d/*.caddy
