# 此配置文件仅供参考。
# 你的代理名称将被更改为 {user}.{proxy}
user = "your_name"

# IPv6 地址或主机名必须用方括号括起来，
# 例如 "[::1]:80", "[ipv6-host]:http" 或 "[ipv6-host%zone]:80"
# 对于单个 serverAddr 字段，不需要方括号，如 serverAddr = "::"。
serverAddr = "0.0.0.0"
serverPort = 7000

# STUN 服务器，用于辅助穿透 NAT 打洞。
# natHoleStunServer = "stun.easyvoip.com:3478"

# 决定当首次登录失败时是否退出程序，否则将持续尝试重新登录 frps
# 默认为 true
loginFailExit = true

# 控制台或真实的日志文件路径，如 ./frpc.log
log.to = "./frpc.log"
# trace, debug, info, warn, error
log.level = "info"
log.maxDays = 3
# 当 log.to 为 console 时禁用日志颜色，默认为 false
log.disablePrintColor = false

auth.method = "token"
# auth.additionalScopes 指定包含身份验证信息的附加范围。
# 可选值为 HeartBeats, NewWorkConns。
# auth.additionalScopes = ["HeartBeats", "NewWorkConns"]

# 身份验证 token，由 resetpwd.sh 更新
auth.token = "12345678"

# oidc.clientID 指定在 OIDC 身份验证中用于获取令牌的客户端 ID。
# auth.oidc.clientID = ""
# oidc.clientSecret 指定在 OIDC 身份验证中用于获取令牌的客户端密钥。
# auth.oidc.clientSecret = ""
# oidc.audience 指定 OIDC 身份验证中令牌的受众。
# auth.oidc.audience = ""
# oidc.scope 指定 AuthenticationMethod == "oidc" 时 OIDC 身份验证中令牌的权限。默认为 ""。
# auth.oidc.scope = ""
# oidc.tokenEndpointURL 指定实现 OIDC 令牌端点的 URL。
# 它将用于获取 OIDC 令牌。
# auth.oidc.tokenEndpointURL = ""

# oidc.additionalEndpointParams 指定要发送到 OIDC 令牌端点的附加参数。
# 例如，如果要指定 "audience" 参数，可以按如下方式设置。
# frp 将把 "audience=<value>" "var1=<value>" 添加到附加参数中。
# auth.oidc.additionalEndpointParams.audience = "https://dev.auth.com/api/v2/"
# auth.oidc.additionalEndpointParams.var1 = "foobar"

# 拨号到服务器等待连接完成的最大时间量。默认值为 10 秒。
# transport.dialServerTimeout = 10

# dialServerKeepalive 指定 frpc 和 frps 之间活动网络连接的保持活动探测间隔。
# 如果为负值，则禁用保持活动探测。
# transport.dialServerKeepalive = 7200

# 将提前建立的连接数，默认值为零
transport.poolCount = 5

# 如果使用 tcp 流复用，默认为 true，必须与 frps 相同
# transport.tcpMux = true

# 指定 tcp 复用的保持活动间隔。
# 仅在启用 tcpMux 时有效。
# transport.tcpMuxKeepaliveInterval = 30

# 连接服务器使用的通信协议
# 目前支持 tcp, kcp, quic, websocket 和 wss，默认为 tcp
transport.protocol = "tcp"

# 连接服务器时设置客户端绑定的 ip，默认为空。
# 仅当 protocol = tcp 或 websocket 时，该值才会被使用。
transport.connectServerLocalIP = "0.0.0.0"

# 如果你想通过 http 代理或 socks5 代理或 ntlm 代理连接 frps，可以在此处或全局环境变量中设置 proxyURL
# 仅在协议为 tcp 时有效
# transport.proxyURL = "http://user:passwd@192.168.1.128:8080"
# transport.proxyURL = "socks5://user:passwd@192.168.1.128:1080"
# transport.proxyURL = "ntlm://user:passwd@192.168.1.128:2080"

# quic protocol options
# transport.quic.keepalivePeriod = 10
# transport.quic.maxIdleTimeout = 30
# transport.quic.maxIncomingStreams = 100000

# 如果 tls.enable 为 true，frpc 将通过 tls 连接 frps。
# 自 v0.50.0 起，默认值已更改为 true，默认启用 tls。
transport.tls.enable = true

# transport.tls.certFile = "client.crt"
# transport.tls.keyFile = "client.key"
# transport.tls.trustedCaFile = "ca.crt"
# transport.tls.serverName = "example.com"

# 如果 disableCustomTLSFirstByte 设置为 false，则在启用 tls 时，frpc 将使用第一个自定义字节与 frps 建立连接。
# 自 v0.50.0 起，默认值已更改为 true，默认禁用第一个自定义字节。
# transport.tls.disableCustomTLSFirstByte = true

# 心跳配置，不建议修改默认值。
# heartbeatInterval 的默认值为 10，heartbeatTimeout 为 90。设置为负值可禁用它。
# transport.heartbeatInterval = 30
# transport.heartbeatTimeout = 90

# 指定 dns 服务器，以便 frpc 使用此服务器而不是默认服务器
# dnsServer = "8.8.8.8"

# 你想启动的代理名称。
# 默认为空，表示所有代理。
# start = ["ssh", "dns"]

# 指定 udp 数据包大小，单位为字节。如果未设置，默认值为 1500。
# 此参数在客户端和服务器之间应相同。
# 它影响 udp 和 sudp 代理。
udpPacketSize = 1500

# 客户端的附加元数据。
metadatas.var1 = "abc"
metadatas.var2 = "123"

# 包含代理的其他配置文件。
# includes = ["./confd/*.ini"]

[[proxies]]
# 'ssh' 是唯一的代理名称
# 如果全局 user 不为空，它将被更改为 {user}.{proxy}，例如 'your_name.ssh'
name = "ssh"
type = "tcp"
localIP = "127.0.0.1"
localPort = 22
# 限制此代理的带宽，单位为 KB 和 MB
transport.bandwidthLimit = "1MB"
# 在何处限制带宽，可以是 'client' 或 'server'，默认为 'client'
transport.bandwidthLimitMode = "client"
# 如果为 true，此代理的流量将被加密，默认为 false
transport.useEncryption = false
# 如果为 true，流量将被压缩
transport.useCompression = false
# frps 监听的远程端口
remotePort = 6001
# frps 将为同一组中的代理负载均衡连接
loadBalancer.group = "test_group"
# 组应具有相同的组密钥
loadBalancer.groupKey = "123456"
# 启用后端服务的健康检查，目前支持 'tcp' 和 'http'。
# frpc 将连接本地服务的端口以检测其健康状态
healthCheck.type = "tcp"
# 健康检查连接超时
healthCheck.timeoutSeconds = 3
# 如果连续失败 3 次，该代理将从 frps 中移除
healthCheck.maxFailed = 3
# 每 10 秒进行一次健康检查
healthCheck.intervalSeconds = 10
# 每个代理的附加元信息。它将传递给服务器端插件使用。
metadatas.var1 = "abc"
metadatas.var2 = "123"
# 你可以通过 annotations 为代理添加一些额外信息。
# 这些注释将显示在 frps 仪表板上。
[proxies.annotations]
key1 = "value1"
"prefix/key2" = "value2"

[[proxies]]
name = "ssh_random"
type = "tcp"
localIP = "192.168.31.100"
localPort = 22
# 如果 remotePort 为 0，frps 将为你分配一个随机端口
remotePort = 0

[[proxies]]
name = "dns"
type = "udp"
localIP = "114.114.114.114"
localPort = 53
remotePort = 6002

# 将你的域名解析为 [serverAddr]，这样你就可以使用 http://web01.yourdomain.com 浏览 web01，使用 http://web02.yourdomain.com 浏览 web02
[[proxies]]
name = "web01"
type = "http"
localIP = "127.0.0.1"
localPort = 80
# http 用户名和密码是 http 协议的安全认证
# 如果未设置，你可以无需认证即可访问此 customDomains
httpUser = "admin"
httpPassword = "admin"
# 如果 frps 的域名是 frps.com，那么你可以通过 URL http://web01.frps.com 访问 [web01] 代理
subdomain = "web01"
customDomains = ["web01.yourdomain.com"]
# locations 仅对 http 类型可用
locations = ["/", "/pic"]
# 如果 http 基本自动用户是 abc，则将请求路由到此服务
# routeByHTTPUser = abc
hostHeaderRewrite = "example.com"
requestHeaders.set.x-from-where = "frp"
responseHeaders.set.foo = "bar"
healthCheck.type = "http"
# frpc 将向本地 http 服务发送 GET http 请求 '/status'
# 当 http 服务返回 2xx http 响应代码时，表示它是存活的
healthCheck.path = "/status"
healthCheck.intervalSeconds = 10
healthCheck.maxFailed = 3
healthCheck.timeoutSeconds = 3
# 设置健康检查头
healthCheck.httpHeaders=[
    { name = "x-from-where", value = "frp" }
]

[[proxies]]
name = "web02"
type = "https"
localIP = "127.0.0.1"
localPort = 8000
subdomain = "web02"
customDomains = ["web02.yourdomain.com"]
# 如果不为空，frpc 将使用代理协议将连接信息传输到你的本地服务
# v1 或 v2 或为空
transport.proxyProtocolVersion = "v2"

[[proxies]]
name = "tcpmuxhttpconnect"
type = "tcpmux"
multiplexer = "httpconnect"
localIP = "127.0.0.1"
localPort = 10701
customDomains = ["tunnel1"]
# routeByHTTPUser = "user1"

[[proxies]]
name = "plugin_unix_domain_socket"
type = "tcp"
remotePort = 6003
# 如果定义了插件，localIP 和 localPort 就没用了
# 插件将处理从 frps 获取的连接
[proxies.plugin]
type = "unix_domain_socket"
unixPath = "/var/run/docker.sock"

[[proxies]]
name = "plugin_http_proxy"
type = "tcp"
remotePort = 6004
[proxies.plugin]
type = "http_proxy"
httpUser = "abc"
httpPassword = "abc"

[[proxies]]
name = "plugin_socks5"
type = "tcp"
remotePort = 6005
[proxies.plugin]
type = "socks5"
username = "abc"
password = "abc"

[[proxies]]
name = "plugin_static_file"
type = "tcp"
remotePort = 6006
[proxies.plugin]
type = "static_file"
localPath = "/var/www/blog"
stripPrefix = "static"
httpUser = "abc"
httpPassword = "abc"

[[proxies]]
name = "plugin_https2http"
type = "https"
customDomains = ["test.yourdomain.com"]
[proxies.plugin]
type = "https2http"
localAddr = "127.0.0.1:80"
crtPath = "./server.crt"
keyPath = "./server.key"
hostHeaderRewrite = "127.0.0.1"
requestHeaders.set.x-from-where = "frp"

[[proxies]]
name = "plugin_https2https"
type = "https"
customDomains = ["test.yourdomain.com"]
[proxies.plugin]
type = "https2https"
localAddr = "127.0.0.1:443"
crtPath = "./server.crt"
keyPath = "./server.key"
hostHeaderRewrite = "127.0.0.1"
requestHeaders.set.x-from-where = "frp"

[[proxies]]
name = "plugin_http2https"
type = "http"
customDomains = ["test.yourdomain.com"]
[proxies.plugin]
type = "http2https"
localAddr = "127.0.0.1:443"
hostHeaderRewrite = "127.0.0.1"
requestHeaders.set.x-from-where = "frp"

[[proxies]]
name = "secret_tcp"
# 如果类型是 secret tcp，remotePort 就没用了
# 想要连接本地端口的人应该部署另一个带有 stcp 代理且角色为 visitor 的 frpc
type = "stcp"
# secretKey 用于访客身份验证
secretKey = "abcdefg"
localIP = "127.0.0.1"
localPort = 22
# 如果不为空，则仅允许来自指定用户的访客连接。
# 否则，允许来自同一用户的访客连接。'*' 表示允许所有用户。
allowUsers = ["*"]

[[proxies]]
name = "p2p_tcp"
type = "xtcp"
secretKey = "abcdefg"
localIP = "127.0.0.1"
localPort = 22
# 如果不为空，则仅允许来自指定用户的访客连接。
# 否则，允许来自同一用户的访客连接。'*' 表示允许所有用户。
allowUsers = ["user1", "user2"]

# frpc 角色 visitor -> frps -> frpc role server
[[visitors]]
name = "secret_tcp_visitor"
type = "stcp"
# 你想要访问的服务器名称
serverName = "secret_tcp"
secretKey = "abcdefg"
# 连接此地址以访问 stcp 服务器
bindAddr = "127.0.0.1"
# bindPort 可以小于 0，这意味着不要绑定到端口，仅接收从其他访客重定向的连接。
# （这目前不支持 SUDP）
bindPort = 9000

[[visitors]]
name = "p2p_tcp_visitor"
type = "xtcp"
# 如果未设置服务器用户，则默认为当前用户
serverUser = "user1"
serverName = "p2p_tcp"
secretKey = "abcdefg"
bindAddr = "127.0.0.1"
# bindPort 可以小于 0，这意味着不要绑定到端口，仅接收从其他访客重定向的连接。
# （这目前不支持 SUDP）
bindPort = 9001
# 需要自动隧道持久化时，设置为 true
keepTunnelOpen = false
# 当 keepTunnelOpen 设置为 true 时有效，每小时尝试打洞的次数
maxRetriesAnHour = 8
minRetryInterval = 90
# fallbackTo = "stcp_visitor"
# fallbackTimeoutMs = 500
